*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    overflow: hidden;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}.nav ul li{
    display: inline-block;
    padding: 0px 22px;
}.nav .logo img{
    width: 50px;
    margin-top: -5px;
    cursor: pointer;
}.nav ul li a{
    color: wheat;
    text-decoration: none;
    transition: .5s;
    font-size: 20px;
}.nav ul li a:hover{
color: gold;
}.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}.content .textContent{
    width: 42%;
    color: wheat;
}.content .textContent h2{
font-size: 40px;
margin-bottom: 15px;
letter-spacing: 1px;
text-transform: uppercase;
}.content .textContent p{
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: white;
}.content .textContent button{
    padding: 9px 15px;
    text-align: center;
    background-color: wheat;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: .5s;

}
.content .textContent button:hover{
   background-color: rgb(115, 115, 0);
   color: wheat;
}
.content .imgContent img{
    width: 230px;
}
.footer img{
  width: 43px;
  cursor: pointer;
  transition: .5s;
}
.footer{
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer img:hover{
    transform: scale(1.08);
}



